@model IEnumerable<HelloMVC.Models.Customer>
@{
}
<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerID</td>
                    <td>@item.FullName</td>
                    <td>@item.Address</td>
                </tr>
            }
        </tbody>
    </table>
</div>
