@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @ViewData["myname"] </h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md">
            <h3>Column 1</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. a est sc.</p>
            <a class="btn btn-outline-danger">Go to page.</a>
        </div>

        <div class="col-md">
            <h3>Column 2</h3>
            <p>lerisque. Mauris semper rhoncus risus ut tincidunt. Praesent vel fringilla lorem</p>
            <a class="btn btn-outline-primary">Go to page.</a>
        </div>

        <div class="col-md">
            <h3>Column 3</h3>
            <p>lerisque. Mauris semper rhoncus risus ut tincidunt. Praesent vel fringilla lorem</p>
            <a class="btn btn-outline-primary">Go to page.</a>
        </div>
    </div>
</div>


<div class="display-3">Responsive</div>

<div class="row">
    <div class="col-4 border border-info">Contents 1 : xs</div>
    <div class="col-4 border border-info">Contents 2 : xs</div>
    <div class="col-4 border border-info">Contents 3 : xs</div>
</div>

<div class="row">
    <div class="col-md-4 border border-info">Contents 1 : md</div>
    <div class="col-md-4 border border-info">Contents 2 : md</div>
    <div class="col-md-4 border border-info">Contents 3 : md</div>
</div>

<div class="row">
    <div class="col-lg-4 border border-info">Contents 1 : lg</div>
    <div class="col-lg-4 border border-info">Contents 2 : lg</div>
    <div class="col-lg-4 border border-info">Contents 3 : lg</div>
</div>

<div class="row">
    <div class="col-xxl-4 border border-info">Contents 1 : xxl</div>
    <div class="col-xxl-4 border border-info">Contents 2 : xxl</div>
    <div class="col-xxl-4 border border-info">Contents 3 : xxl</div>
</div>


