@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Info page</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core"></a>ASP.NET core</p>
    <div> 
        <h1>@ViewData["result"]</h1>
    </div>
</div>